<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Biz bilan bog'lanish</h5>
            <h1 class="mb-5">Har qanday so'rov uchun murojaat qiling</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    {% for email in emails %}
                        <div class="col-md-4">
                            <h5 class="section-title ff-secondary fw-normal text-start text-primary">{{ email.title }}</h5>
                            <p><i class="fa fa-envelope-open text-primary me-2"></i>{{ email.email }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row g-4 mt-5">
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2996.2569251388827!2d69.2426312!3d41.3250262!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bfaedfe3e1d%3A0x23ac4a5a705b84ab!2sNajot%20Ta&#39;lim%20Xadra%20filiali!5e0!3m2!1sru!2s!4v1712169657486!5m2!1sru!2s"
                    width="600" height="380" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.full_name }}
                                <label for="{{ from.full_name.id_for_label }}">Ismingiz</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.email }}
                                <label for="{{ form.email.id_for_label }}">Elektron pochtangiz</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form.subject }}
                                <label for="{{ form.subject.id_for_label }}">Sarlavha kiriting</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                {{ form.message }}
                                <label for="{{ form.message.id_for_label }}">Xabaringizni yozing</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Xabarni yuborish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Contact End -->