<div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
        {% for menu_type in menu_types %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="pill"
                   href="#tab-{{ forloop.counter }}">
                    {% if menu_type.title == "Breakfast" %}
                        <i class="fa fa-coffee fa-2x text-primary"></i>
                    {% elif menu_type.title == "Lunch" %}
                        <i class="fa fa-hamburger fa-2x text-primary"></i>
                    {% elif menu_type.title == "Dinner" %}
                        <i class="fa fa-utensils fa-2x text-primary"></i>
                    {% endif %}
                    <div class="ps-3">
                        <small class="text-body">{{ menu_type.description }}</small>
                        <h6 class="mt-n1 mb-0">{{ menu_type.title }}</h6>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for menu_type in menu_types %}
            <div id="tab-{{ forloop.counter }}" class="tab-pane fade {% if forloop.first %}show active{% endif %}">
                <div class="row g-4">
                    {% for menu_item in menu_type.menu_items.all %}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="{{ menu_item.image }}"
                                     alt="{{ menu_item.title }}" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{ menu_item.title }}</span>
                                        <span class="text-primary">{{ menu_item.price }} so'm</span>
                                    </h5>
                                    <small class="fst-italic">{{ menu_item.description }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
