<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Bizning xizmatlarimiz</h5>
            <h1 class="mb-5">Xizmatlarimiz bilan tanishing</h1>
        </div>
        <div class="row g-4">
            {% for item in service %}
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <img src="{{ item.image }}" alt="{{ item.title }}" style="width: 77px; height: auto;"
                                 class="img-fluid mb-4">
                            <h5>{{ item.title }}</h5>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<!-- Service End -->
