{% extends 'base.html' %}
{% load static %}
{% block title %}Service{% endblock %}
{% block content %}
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Xizmatlarimiz</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="{% url 'restaurant:home' %}">Bosh sahifa</a></li>
                    <li class="breadcrumb-item"><a href="#">Sahifalar</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Xizmatlar</li>
                </ol>
            </nav>
        </div>
    </div>

    {% include 'section/service_section.html' %}
{% endblock %}